In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('latest.csv')

In [3]:
df

,Unnamed: 0,success,data,lastRefreshed,lastOriginUpdate
0,regional,True,"[{'loc': 'Andaman and Nicobar Islands', 'confi...",2020-10-17T13:18:23.369Z,2020-10-17T02:30:00.000Z
1,summary,True,"{'total': 7432680, 'confirmedCasesIndian': 743...",2020-10-17T13:18:23.369Z,2020-10-17T02:30:00.000Z
2,unofficial-summary,True,"[{'source': 'covid19india.org', 'total': 74428...",2020-10-17T13:18:23.369Z,2020-10-17T02:30:00.000Z

In [4]:
df.columns

Index(['Unnamed: 0', 'success', 'data', 'lastRefreshed', 'lastOriginUpdate'], dtype='object')

In [14]:
regional=df[df['Unnamed: 0']=='regional']['data']

In [21]:
import json
json.loads(regional.tolist()[0])

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

In [22]:
regional.tolist()[0]

"[{'loc': 'Andaman and Nicobar Islands', 'confirmedCasesIndian': 4072, 'confirmedCasesForeign': 0, 'discharged': 3831, 'deaths': 56, 'totalConfirmed': 4072}, {'loc': 'Andhra Pradesh', 'confirmedCasesIndian': 775470, 'confirmedCasesForeign': 0, 'discharged': 730109, 'deaths': 6382, 'totalConfirmed': 775470}, {'loc': 'Arunachal Pradesh', 'confirmedCasesIndian': 13169, 'confirmedCasesForeign': 0, 'discharged': 10071, 'deaths': 30, 'totalConfirmed': 13169}, {'loc': 'Assam', 'confirmedCasesIndian': 199749, 'confirmedCasesForeign': 0, 'discharged': 170265, 'deaths': 853, 'totalConfirmed': 199749}, {'loc': 'Bihar', 'confirmedCasesIndian': 202290, 'confirmedCasesForeign': 0, 'discharged': 190425, 'deaths': 981, 'totalConfirmed': 202290}, {'loc': 'Chandigarh', 'confirmedCasesIndian': 13532, 'confirmedCasesForeign': 0, 'discharged': 12352, 'deaths': 206, 'totalConfirmed': 13532}, {'loc': 'Chhattisgarh', 'confirmedCasesIndian': 155987, 'confirmedCasesForeign': 0, 'discharged': 126869, 'deaths': 1425, 'totalConfirmed': 155987}, {'loc': 'Dadra and Nagar Haveli and Daman and Diu', 'confirmedCasesIndian': 3177, 'confirmedCasesForeign': 0, 'discharged': 3109, 'deaths': 2, 'totalConfirmed': 3177}, {'loc': 'Delhi', 'confirmedCasesIndian': 324458, 'confirmedCasesForeign': 1, 'discharged': 295699, 'deaths': 5946, 'totalConfirmed': 324459}, {'loc': 'Goa', 'confirmedCasesIndian': 40090, 'confirmedCasesForeign': 1, 'discharged': 35610, 'deaths': 531, 'totalConfirmed': 40091}, {'loc': 'Gujarat', 'confirmedCasesIndian': 157311, 'confirmedCasesForeign': 1, 'discharged': 139012, 'deaths': 3617, 'totalConfirmed': 157312}, {'loc': 'Haryana', 'confirmedCasesIndian': 147919, 'confirmedCasesForeign': 14, 'discharged': 135858, 'deaths': 1634, 'totalConfirmed': 147933}, {'loc': 'Himachal Pradesh', 'confirmedCasesIndian': 18522, 'confirmedCasesForeign': 0, 'discharged': 15618, 'deaths': 262, 'totalConfirmed': 18522}, {'loc': 'Jammu and Kashmir', 'confirmedCasesIndian': 86754, 'confirmedCasesForeign': 0, 'discharged': 76479, 'deaths': 1366, 'totalConfirmed': 86754}, {'loc': 'Jharkhand', 'confirmedCasesIndian': 95425, 'confirmedCasesForeign': 0, 'discharged': 88058, 'deaths': 824, 'totalConfirmed': 95425}, {'loc': 'Karnataka', 'confirmedCasesIndian': 751390, 'confirmedCasesForeign': 0, 'discharged': 628588, 'deaths': 10356, 'totalConfirmed': 751390}, {'loc': 'Kerala', 'confirmedCasesIndian': 325204, 'confirmedCasesForeign': 8, 'discharged': 228998, 'deaths': 1113, 'totalConfirmed': 325212}, {'loc': 'Ladakh', 'confirmedCasesIndian': 5441, 'confirmedCasesForeign': 0, 'discharged': 4461, 'deaths': 65, 'totalConfirmed': 5441}, {'loc': 'Lakshadweep', 'confirmedCasesIndian': 0, 'confirmedCasesForeign': 0, 'discharged': 0, 'deaths': 0, 'totalConfirmed': 0}, {'loc': 'Madhya Pradesh', 'confirmedCasesIndian': 157936, 'confirmedCasesForeign': 0, 'discharged': 141273, 'deaths': 2735, 'totalConfirmed': 157936}, {'loc': 'Maharashtra', 'confirmedCasesIndian': 1576059, 'confirmedCasesForeign': 3, 'discharged': 1344368, 'deaths': 41502, 'totalConfirmed': 1576062}, {'loc': 'Manipur', 'confirmedCasesIndian': 14715, 'confirmedCasesForeign': 0, 'discharged': 11245, 'deaths': 109, 'totalConfirmed': 14715}, {'loc': 'Meghalaya', 'confirmedCasesIndian': 8303, 'confirmedCasesForeign': 0, 'discharged': 5735, 'deaths': 75, 'totalConfirmed': 8303}, {'loc': 'Mizoram', 'confirmedCasesIndian': 2245, 'confirmedCasesForeign': 0, 'discharged': 2133, 'deaths': 0, 'totalConfirmed': 2245}, {'loc': 'Nagaland', 'confirmedCasesIndian': 7604, 'confirmedCasesForeign': 0, 'discharged': 6111, 'deaths': 22, 'totalConfirmed': 7604}, {'loc': 'Odisha', 'confirmedCasesIndian': 264149, 'confirmedCasesForeign': 0, 'discharged': 241385, 'deaths': 1104, 'totalConfirmed': 264149}, {'loc': 'Puducherry', 'confirmedCasesIndian': 32766, 'confirmedCasesForeign': 0, 'discharged': 27671, 'deaths': 571, 'totalConfirmed': 32766}, {'loc': 'Punjab', 'confirmedCasesIndian': 126737, 'confirmedCasesForeign': 0, 'discharged': 116165, 'deaths': 3980, 'totalConfirmed': 126737}, {'loc': 'Rajasthan', 'confirmedCasesIndian': 169287, 'confirmedCasesForeign': 2, 'discharged': 146185, 'deaths': 1723, 'totalConfirmed': 169289}, {'loc': 'Sikkim', 'confirmedCasesIndian': 3531, 'confirmedCasesForeign': 0, 'discharged': 3177, 'deaths': 59, 'totalConfirmed': 3531}, {'loc': 'Tamil Nadu', 'confirmedCasesIndian': 679185, 'confirmedCasesForeign': 6, 'discharged': 627703, 'deaths': 10529, 'totalConfirmed': 679191}, {'loc': 'Telengana', 'confirmedCasesIndian': 220665, 'confirmedCasesForeign': 10, 'discharged': 196636, 'deaths': 1265, 'totalConfirmed': 220675}, {'loc': 'Tripura', 'confirmedCasesIndian': 29327, 'confirmedCasesForeign': 0, 'discharged': 26035, 'deaths': 326, 'totalConfirmed': 29327}, {'loc': 'Uttarakhand', 'confirmedCasesIndian': 57041, 'confirmedCasesForeign': 1, 'discharged': 50521, 'deaths': 829, 'totalConfirmed': 57042}, {'loc': 'Uttar Pradesh', 'confirmedCasesIndian': 449934, 'confirmedCasesForeign': 1, 'discharged': 408083, 'deaths': 6589, 'totalConfirmed': 449935}, {'loc': 'West Bengal', 'confirmedCasesIndian': 313188, 'confirmedCasesForeign': 0, 'discharged': 274757, 'deaths': 5931, 'totalConfirmed': 313188}]"

In [24]:
list1=eval(regional.tolist()[0])

In [25]:
type(list1)

list

In [27]:
list1[1]

{'loc': 'Andhra Pradesh',
 'confirmedCasesIndian': 775470,
 'confirmedCasesForeign': 0,
 'discharged': 730109,
 'deaths': 6382,
 'totalConfirmed': 775470}

In [29]:
[i['loc'] for i in list1]

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttarakhand',
 'Uttar Pradesh',
 'West Bengal']

In [13]:
            import requests
            import pandas as pd
            response = requests.get('https://api.rootnet.in/covid19-in/stats/latest').text
            
            
            df=pd.read_json(response)
            df=df.reset_index(drop=True)
           
            print(df.columns)
            
            list1=eval(regional.tolist()[0])
            return list1

Index(['success', 'data', 'lastRefreshed', 'lastOriginUpdate'], dtype='object')

NameError: name 'regional' is not defined

In [14]:
df

,success,data,lastRefreshed,lastOriginUpdate
0,True,"[{'loc': 'Andaman and Nicobar Islands', 'confi...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z
1,True,"{'total': 7432680, 'confirmedCasesIndian': 743...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z
2,True,"[{'source': 'covid19india.org', 'total': 74428...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z

In [8]:
df

,success,data,lastRefreshed,lastOriginUpdate
regional,True,"[{'loc': 'Andaman and Nicobar Islands', 'confi...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z
summary,True,"{'total': 7432680, 'confirmedCasesIndian': 743...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z
unofficial-summary,True,"[{'source': 'covid19india.org', 'total': 74428...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z

In [16]:
response = requests.get('https://api.rootnet.in/covid19-in/stats/latest').text
            
df=pd.read_json(response)

In [19]:
df['type']=df.index

In [23]:
df.reset_index(drop=True,inplace=True)

In [26]:
regional=df[df['type']=='regional']['data']
list1=regional.tolist()[0]

In [27]:
list1

[{'loc': 'Andaman and Nicobar Islands',
  'confirmedCasesIndian': 4072,
  'confirmedCasesForeign': 0,
  'discharged': 3831,
  'deaths': 56,
  'totalConfirmed': 4072},
 {'loc': 'Andhra Pradesh',
  'confirmedCasesIndian': 775470,
  'confirmedCasesForeign': 0,
  'discharged': 730109,
  'deaths': 6382,
  'totalConfirmed': 775470},
 {'loc': 'Arunachal Pradesh',
  'confirmedCasesIndian': 13169,
  'confirmedCasesForeign': 0,
  'discharged': 10071,
  'deaths': 30,
  'totalConfirmed': 13169},
 {'loc': 'Assam',
  'confirmedCasesIndian': 199749,
  'confirmedCasesForeign': 0,
  'discharged': 170265,
  'deaths': 853,
  'totalConfirmed': 199749},
 {'loc': 'Bihar',
  'confirmedCasesIndian': 202290,
  'confirmedCasesForeign': 0,
  'discharged': 190425,
  'deaths': 981,
  'totalConfirmed': 202290},
 {'loc': 'Chandigarh',
  'confirmedCasesIndian': 13532,
  'confirmedCasesForeign': 0,
  'discharged': 12352,
  'deaths': 206,
  'totalConfirmed': 13532},
 {'loc': 'Chhattisgarh',
  'confirmedCasesIndian': 155987,
  'confirmedCasesForeign': 0,
  'discharged': 126869,
  'deaths': 1425,
  'totalConfirmed': 155987},
 {'loc': 'Dadra and Nagar Haveli and Daman and Diu',
  'confirmedCasesIndian': 3177,
  'confirmedCasesForeign': 0,
  'discharged': 3109,
  'deaths': 2,
  'totalConfirmed': 3177},
 {'loc': 'Delhi',
  'confirmedCasesIndian': 324458,
  'confirmedCasesForeign': 1,
  'discharged': 295699,
  'deaths': 5946,
  'totalConfirmed': 324459},
 {'loc': 'Goa',
  'confirmedCasesIndian': 40090,
  'confirmedCasesForeign': 1,
  'discharged': 35610,
  'deaths': 531,
  'totalConfirmed': 40091},
 {'loc': 'Gujarat',
  'confirmedCasesIndian': 157311,
  'confirmedCasesForeign': 1,
  'discharged': 139012,
  'deaths': 3617,
  'totalConfirmed': 157312},
 {'loc': 'Haryana',
  'confirmedCasesIndian': 147919,
  'confirmedCasesForeign': 14,
  'discharged': 135858,
  'deaths': 1634,
  'totalConfirmed': 147933},
 {'loc': 'Himachal Pradesh',
  'confirmedCasesIndian': 18522,
  'confirmedCasesForeign': 0,
  'discharged': 15618,
  'deaths': 262,
  'totalConfirmed': 18522},
 {'loc': 'Jammu and Kashmir',
  'confirmedCasesIndian': 86754,
  'confirmedCasesForeign': 0,
  'discharged': 76479,
  'deaths': 1366,
  'totalConfirmed': 86754},
 {'loc': 'Jharkhand',
  'confirmedCasesIndian': 95425,
  'confirmedCasesForeign': 0,
  'discharged': 88058,
  'deaths': 824,
  'totalConfirmed': 95425},
 {'loc': 'Karnataka',
  'confirmedCasesIndian': 751390,
  'confirmedCasesForeign': 0,
  'discharged': 628588,
  'deaths': 10356,
  'totalConfirmed': 751390},
 {'loc': 'Kerala',
  'confirmedCasesIndian': 325204,
  'confirmedCasesForeign': 8,
  'discharged': 228998,
  'deaths': 1113,
  'totalConfirmed': 325212},
 {'loc': 'Ladakh',
  'confirmedCasesIndian': 5441,
  'confirmedCasesForeign': 0,
  'discharged': 4461,
  'deaths': 65,
  'totalConfirmed': 5441},
 {'loc': 'Lakshadweep',
  'confirmedCasesIndian': 0,
  'confirmedCasesForeign': 0,
  'discharged': 0,
  'deaths': 0,
  'totalConfirmed': 0},
 {'loc': 'Madhya Pradesh',
  'confirmedCasesIndian': 157936,
  'confirmedCasesForeign': 0,
  'discharged': 141273,
  'deaths': 2735,
  'totalConfirmed': 157936},
 {'loc': 'Maharashtra',
  'confirmedCasesIndian': 1576059,
  'confirmedCasesForeign': 3,
  'discharged': 1344368,
  'deaths': 41502,
  'totalConfirmed': 1576062},
 {'loc': 'Manipur',
  'confirmedCasesIndian': 14715,
  'confirmedCasesForeign': 0,
  'discharged': 11245,
  'deaths': 109,
  'totalConfirmed': 14715},
 {'loc': 'Meghalaya',
  'confirmedCasesIndian': 8303,
  'confirmedCasesForeign': 0,
  'discharged': 5735,
  'deaths': 75,
  'totalConfirmed': 8303},
 {'loc': 'Mizoram',
  'confirmedCasesIndian': 2245,
  'confirmedCasesForeign': 0,
  'discharged': 2133,
  'deaths': 0,
  'totalConfirmed': 2245},
 {'loc': 'Nagaland',
  'confirmedCasesIndian': 7604,
  'confirmedCasesForeign': 0,
  'discharged': 6111,
  'deaths': 22,
  'totalConfirmed': 7604},
 {'loc': 'Odisha',
  'confirmedCasesIndian': 264149,
  'confirmedCasesForeign': 0,
  'discharged': 241385,
  'deaths': 1104,
  'totalConfirmed': 264149},
 {'loc': 'Puducherry',
  'confirmedCasesIndian': 32766,
  'confirmedCasesForeign': 0,
  'discharged': 27671,
  'deaths': 571,
  'totalConfirmed': 32766},
 {'loc': 'Punjab',
  'confirmedCasesIndian': 126737,
  'confirmedCasesForeign': 0,
  'discharged': 116165,
  'deaths': 3980,
  'totalConfirmed': 126737},
 {'loc': 'Rajasthan',
  'confirmedCasesIndian': 169287,
  'confirmedCasesForeign': 2,
  'discharged': 146185,
  'deaths': 1723,
  'totalConfirmed': 169289},
 {'loc': 'Sikkim',
  'confirmedCasesIndian': 3531,
  'confirmedCasesForeign': 0,
  'discharged': 3177,
  'deaths': 59,
  'totalConfirmed': 3531},
 {'loc': 'Tamil Nadu',
  'confirmedCasesIndian': 679185,
  'confirmedCasesForeign': 6,
  'discharged': 627703,
  'deaths': 10529,
  'totalConfirmed': 679191},
 {'loc': 'Telengana',
  'confirmedCasesIndian': 220665,
  'confirmedCasesForeign': 10,
  'discharged': 196636,
  'deaths': 1265,
  'totalConfirmed': 220675},
 {'loc': 'Tripura',
  'confirmedCasesIndian': 29327,
  'confirmedCasesForeign': 0,
  'discharged': 26035,
  'deaths': 326,
  'totalConfirmed': 29327},
 {'loc': 'Uttarakhand',
  'confirmedCasesIndian': 57041,
  'confirmedCasesForeign': 1,
  'discharged': 50521,
  'deaths': 829,
  'totalConfirmed': 57042},
 {'loc': 'Uttar Pradesh',
  'confirmedCasesIndian': 449934,
  'confirmedCasesForeign': 1,
  'discharged': 408083,
  'deaths': 6589,
  'totalConfirmed': 449935},
 {'loc': 'West Bengal',
  'confirmedCasesIndian': 313188,
  'confirmedCasesForeign': 0,
  'discharged': 274757,
  'deaths': 5931,
  'totalConfirmed': 313188}]

In [29]:
df

,success,data,lastRefreshed,lastOriginUpdate,type
0,True,"[{'loc': 'Andaman and Nicobar Islands', 'confi...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z,regional
1,True,"{'total': 7432680, 'confirmedCasesIndian': 743...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z,summary
2,True,"[{'source': 'covid19india.org', 'total': 74428...",2020-10-17T13:42:23.736Z,2020-10-17T02:30:00.000Z,unofficial-summary